*{
    font-family: 'Courier New', Courier, monospace;
}

div{
    color: red;
    background-color: white;
}
p{
    color: red;
}
.alert-text{
    color: blue;
}
#title{
    background-color: white;
}
 .list li{
    color: green;

}
#first{
    color:red;
}
#second{
    color: blue;

}