*{
    font-family: 'Courier New', Courier, monospace;
}

div{
    color: red;
    background-color: white;
}
a{
    color: red;
}
.alert-text{
    color: blue;
}
#title{
    background-color: green;
}